# Python Basic
### Assignment 1

#### Solution 1

Values: 'hello', -87.8, 6 <br>
Expressions: *, -, /, +

#### Solution 2

String is a data type that is used to represent a sequence of characters.
Whereas, a variable is declared by the user and it is used to store data, this data can be of the type string, int, list, etc.

#### Solution 3

int: Int data type stands for integer and they are basically positive or negative whole numbers without decimal point.<br>
str: It stands for string data type and is used to represent a sequence of characters. It should be included within single quote ('') or double quotes (""). <br>
list: It is an ordered sequence of items. It is an iterable data type that is enclosed within square brackets. A list can hold data of heterogeneous data typs such as str, int, float and even a list.

#### Solution 4

Expressions are made up of identifiers, literals and operators. All expressions evaluate to a value.

#### Solution 5

Expression is a combination of variables, operations and values that yields a result value. Whereas statement represents and action or command eg. print statement. A statement may be composed of multiple expressions.

#### Solution 6

In [3]:
bacon = 22
bacon+1

23

In [4]:
bacon

22

bacon = 22

#### Solution 7

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam'*3

'spamspamspam'

#### Solution 8

Pure numeric values such as int, float, etc. cannot be variables eg- 100, 33.6, etc. Even a variable cannot start with a numeric value.
Whereas egg is a sequence of characters that starts with an alphabet and hence it is valid.

#### Solution 9

int(), float(), str()

#### Solution 10

The expression causes an error as addition (concatenation) cannot take place between a string and an integer data type. For the concatenation to take place we can typecast 99 as a string or just put 99 in quotes.

In [12]:
'I have eaten'+' '+str(99)+' '+ 'burritos.'

'I have eaten 99 burritos.'

or

In [13]:
'I have eaten' + ' 99 '+ 'burritos.'

'I have eaten 99 burritos.'